.container {
  display: flex;
  flex-wrap: wrap;
  height: 640px;
  width: 640px;
  background-color: white;
  border: 3px solid rgb(255, 17, 0);
}

.square {
  display: flex;
  flex: 0 0 40px;
  aspect-ratio: 1 / 1;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.button {
  padding: 30px;
  margin: 30px;
}

.header {
  display: flex;
  justify-content: center;
  width: 640px;
}
